# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.idx
Live-Video-Magnification/build-rvm-Desktop_Qt_6_4_2_MinGW_64_bit-Release/UsersTylerAppDataLocalTemptmpfi41l3jd
Live-Video-Magnification/opencv.zip
